name: index
on:
  push:
    branches:
      - main
      - devel
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  createIndex:
    runs-on: ubuntu-latest
    steps:
      - name: Install prerequisites
        run: sudo apt install -y jq openssl

      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      - name: Check lua script signatures
        run: ./index.sh
